<table class="table table-striped">
  <tr>
    <td><%= railway_station.title %></td>
    <td><%= link_to t('.show'), admin_railway_station_path(railway_station), class: 'btn btn-link' %></td>
    <td><%= link_to t('.edit'), edit_admin_railway_station_path(railway_station), class: 'btn btn-link' %></td>
    <td><%= link_to t('.delete'), admin_railway_station_path(railway_station), method: :delete, data: {confirm: t('.confirm')}, class: 'btn btn-link' %></td>
  </tr>
</table>