<h1>Редактирование (маршрут)</h1>
<%= render 'form', route: @route %>
<%= link_to 'Показать', admin_route_path(@route), class: 'btn btn-link'  %> |
<%= link_to 'Назад', admin_route_path, class: 'btn btn-link'  %>