<p id="notice"><%= notice %></p>

<p>
  <strong>Идентификатор:</strong>
  <%= @train_route.title %>
</p>

<%= link_to 'Редактировать', edit_train_route_path(@train_route) %> |
<%= link_to 'Назад', train_routes_path %>
