<p/>

<%= render 'common/ticket' , ticket: @ticket %>

<div class="col-md-12">
  <%= link_to 'Список билетов', tickets_path, class: 'btn btn-link' %> |
  <%= link_to 'Новый поиск', search_path, class: 'btn btn-link' %>
</div>