<h1>Редактирование (поезд)</h1>
<%= render 'form', train: @train %>
<%= link_to 'Показать', admin_train_path(@train), class: 'btn btn-link' %> |
<%= link_to 'Назад', admin_trains_path, class: 'btn btn-link' %>
