<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  <div id="footer">
    <p> (c) 2016 Sergey Sirosh. Учебный проект в
    <a href="http://www.thinknetica.com">онлайн-школе Thinknetica</a>
    </p>
  </div>
  </body>
</html>
